/*Global styles
-------------------------------------------*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo{
    height: 100px;
}
.content-wrapper{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  margin: 0;
}
.search-bar{
   border-radius: 30px;
   width: 500px;
   border: solid 1px rgb(150, 150, 150);
   line-height: 3;
   align-items: center;

}
/*index.html2 styles
-------------------------------------------*/
.form-wrap{
    display: flex;
    flex-direction: row;
}



/*index.html3 styles
-------------------------------------------*/