/*Global styles
-------------------------------------------*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
  padding-top: 10px;
  font-size: 15px;
}
.nav-link:hover {
  text-decoration: underline;
}

.logo {
  height: 100px;
}
.content-wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

input:focus {
  outline: none;
}
.fa-microphone{
    color: rgb(141, 141, 141);
}
/*index.html styles
-------------------------------------------*/
.search-bar {
  border-radius: 30px;
  width: 400px;
  border: solid 1px rgb(212, 212, 212);
  line-height: 3;
  align-items: center;
  padding: 0 60px 0 60px;
}
.form-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.mic-icon1{
  position: relative;
  width: 12px;
  left: 490px;
  height: 20px;
  z-index: 100;
  top: -30px;
  
}
.search-button {
  color: grey;
  margin-right: 5px;
  width: 120px;
  height: 40px;
  background-color: rgb(236, 236, 236);
  border: none;
}
.search-button:hover {
  border: solid 1px rgb(196, 190, 190);
}
.lucky-button {
  color: grey;
  margin-left: 5px;
  width: 130px;
  height: 40px;
  background-color: rgb(236, 236, 236);
  border: none;
}
.lucky-button:hover {
  border: solid 1px rgb(196, 190, 190);
}
/*index.html2 styles
-------------------------------------------*/
.search-bar2 {
  border-radius: 30px;
  width: 400px;
  border: solid 1px rgb(212, 212, 212);
  line-height: 3;
  align-items: center;
  padding: 0 60px 0 60px;
  margin-left: 50px;
}
.logo-name {
  position: relative;
  left: 250px;
  color: rgba(18, 130, 221, 0.61);
  top: -25px;
}
.search-icon2 {
  position: relative;
  width: 14px;
  right: 490px;
  height: 20px;
  z-index: 100;
  top: 5px;
  color: gainsboro;
}
.mic-icon2 {
  position: relative;
  width: 12px;
  right: 130px;
  height: 20px;
  z-index: 100;
  top: 5px;
  color: gainsboro;
}

.camera-icon {
  position: relative;
  width: 25px;
  right: 150px;
  height: 20px;
  z-index: 100;
  top: 5px;
  color: gainsboro;
}
.icons{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 20px;
    left: 490px;
    height: 20px;
    top: -30px;
}

/*index.html3 styles
-------------------------------------------*/
