/*Global styles
-------------------------------------------*/
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-links a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
  padding-top: 10px;
  font-size: 15px;
}
.nav-link:hover {
  text-decoration: underline;
}

.logo {
  height: 100px;
}
.content-wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

input:focus {
  outline: none;
}
.fa-microphone {
  color: rgb(141, 141, 141);
}
/*index.html styles
-------------------------------------------*/
.first-body{
    margin: 0 auto;
}
.search-bar {
  border-radius: 30px;
  width: 400px;
  border: solid 1px rgb(212, 212, 212);
  line-height: 3;
  align-items: center;
  padding: 0 60px 0 60px;
}
.form-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.mic-icon1 {
  position: relative;
  width: 12px;
  left: 490px;
  height: 20px;
  z-index: 100;
  top: -30px;
}
.search-button {
  color: grey;
  margin-right: 5px;
  width: 120px;
  height: 40px;
  background-color: rgb(236, 236, 236);
  border: none;
}
.search-button:hover {
  border: solid 1px rgb(196, 190, 190);
}
.lucky-button {
  color: grey;
  margin-left: 5px;
  width: 130px;
  height: 40px;
  background-color: rgb(236, 236, 236);
  border: none;
}
.lucky-button:hover {
  border: solid 1px rgb(196, 190, 190);
}
/*index.html2 styles
-------------------------------------------*/
.search-bar2 {
  border-radius: 30px;
  width: 480px;
  border: solid 1px rgb(212, 212, 212);
  line-height: 3;
  align-items: center;
  padding: 0 40px 0 0px;
  margin-left: 50px;
}
.logo-name {
  position: relative;
  left: 250px;
  color: rgba(45, 151, 250, 0.61);
  top: -25px;
}
.search-icon2 {
  position: relative;
  width: 14px;
  right: 85%;
  height: 20px;
  z-index: 100;
  top: 5px;
  color: gainsboro;
}
.mic-icon2 {
  position: relative;
  width: 12px;
  right: 130px;
  height: 20px;
  z-index: 100;
  top: 5px;
  color: gainsboro;
}

.camera-icon {
  position: relative;
  width: 25px;
  right: 150px;
  height: 20px;
  z-index: 100;
  top: 5px;
  color: gainsboro;
}
.icons {
  display: flex;
  flex-direction: row;
  position: relative;
  
  top: -30px;
  margin: 0 auto;
  margin-right: 0;
  left: 75%;
}
.mic-wrap,
.camera-wrap {
  margin-right: 20px;
}
.fa-search {
  color: rgba(45, 151, 250, 0.61);
  font-size: 20px;
}
.fa-camera {
  color: rgb(141, 141, 141);
  font-size: 20px;
}
.mic-wrap .fa-microphone {
  color: rgba(45, 151, 250, 0.61);
  font-size: 20px;
}
/*index.html3 styles
-------------------------------------------*/
.third-body{
    margin: 0 auto;
}
.nav-links2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}
.nav2{
    background-color: #f1f1f1;
   
}
.nav2 a{
  text-decoration: none;
  color: black;
  position: relative;;
  left: 70%;
  bottom: 20px;
  font-size: 13px;
}
.nav2 img{
    width: 90px;
    margin: 10px;
}
.content-wrap2{
    margin: 0 3% 0 3%;
}
h3{
    color: rgb(202, 44, 44);
    margin-left: 3%;
    font-size: 20px;
}
.h3-div{
    border-bottom: solid 1px rgb(209, 209, 209);
}
table{
    padding-top: 30px;
}
.table-input{
    width: 550px;
    line-height: 25px;
     border: solid 1px rgb(196, 190, 190);
}
.third-column{
    font-size: 10px;
    padding-left: 20px;
}
.first-column{
    font-size: 13px;
    padding-right: 30px;
}
th{
    text-align: left;
    padding-bottom: 20px;
    font-size: 15px;
}
td{
    padding-bottom: 15px;
}
span{
    font-family: 'Cutive Mono', monospace;
    font-size: 14px;
}
/*Respponsive Designs
-------------------------------------------*/
@media screen and (max-width: 914px) {
  .third-column, .third-heading{
    visibility: hidden;
  }
}

@media screen and (max-width: 914px) {
.search-bar {
  border-radius: 30px;
  width: 200px;
  }
  
  .mic-icon1 {
  position: relative;
  width: 12px;
  left: 290px;
  height: 20px;
  z-index: 100;
  top: -30px;
}
}
